<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Empowering Families and Educators | Success For All</title>
</head>
<body>
<form action="#" th:action="@{/searchConcerns}" method="GET">
Welcome to Success For All!<br><br>
<input type="text" name="searchTerm"/>
<button type="submit" value = 0>Search</button>
</form>
Your user is:<br>
<p th:text="${userDTO}"></p><br>
<form action="#" th:action="@{/saveuser}" th:object="${userDTO}" method="POST">
Email: <input type="text" name="email" th:field="*{email}" /><br>
FirstName: <input type="text" name="firstName" th:field="*{firstName}" /><br>
LastName: <input type="text" name="lastName" th:field="*{lastName}" /><br>
Age: <input type="text" name="age" th:field="*{age}" /><br>
Password: <input type="password" name="password" th:field="*{password}" /><br>
Concerns: <input type="text" name="concerns" th:field="*{concerns}" /><br>
ConcernId: <input type="text" name="concernId" th:field="*{concernId}" /><br>

<button type="submit">Submit</button>
</form>
</body>
</html>
